@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#root {
  width: 100vw;
  height: 100vh;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  /* color: #fff; */
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}
/* ////////////////////////////////////////////////////////// */
/* header-section */
/* ///////////////////////////////////////////////////////// */
.header-section {
  background-color: rgb(66, 66, 66);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1480px;
  width: 90%;
  padding: 20px 0;
  margin: 0 auto;
}
.main-nav-lists {
  display: flex;
}
.main-nav-link {
  padding-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: #729eff;
  margin-right: 30px;
  position: relative;
}

.main-nav-link::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: #729eff;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: all 0.5s ease;
}
.main-nav-link:hover::after,
.main-nav-link.actives::after,
.main-nav-link.active::after {
  opacity: 1;
  width: 100%;
}

.profile-container {
  position: relative;
}
.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid #729eff;
}
.user-icon {
  width: 25px;
}

.profile-lists {
  width: 150px;
  padding-block: 5px;
  background-color: #adaaaa;
  border-radius: 4px;
  border-top-right-radius: 0px;
  position: absolute;
  right: 60px;
  top: 40px;

  opacity: 0;
  transform: translateY(-10px);
  transition: all 0.3s ease;
  visibility: hidden;
  /* overflow: hidden; */
}

.profile-lists.show {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
  pointer-events: auto;
}

.profile-lists.show::after {
  content: "";
  border: 10px solid;
  border-color: transparent transparent #adaaaa #adaaaa;
  position: absolute;
  top: 0;
  right: -20px;
  transform: rotate(90deg);
  transition: all 1s ease-in-out;
}

.profile-link {
  display: block;
  padding: 5px 10px;
}

.profile-link:hover {
  background-color: #7a7a7a;
}

/* /////////////////////////////////////////// */
/* main section */
/* //////////////////////////////////////////////// */
.main-section {
  height: calc(100% - 85px);
  display: flex;
  align-items: center;
  justify-content: center;
}
/* /////////////////////////////////////// */
/* contact component */
/* /////////////////////////// */
td {
  padding: 5px 10px;
}

.input {
  padding: 5px 20px 5px 5px;
  width: 100%;
  font-size: 16px;
  border: 2px solid #729eff;
  border-radius: 4px;
  outline: none;
}
.contact-table-label-box{
  display: flex;
}
select {
  background-color: transparent;
}

option {
  background-color: transparent;
}
option:hover {
  background-color: #244685;
}

.label {
  font-size: 18px;
  font-weight: 500;
}

.contact-inner {
  padding: 20px 50px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.095);
}
.license {
  font-size: 14px;
  color: #595959;
  font-weight: 500;
  letter-spacing: 1px;
}
.check-box {
  margin-right: 10px;
  /* appearance: none;
  position: relative; */
  cursor: pointer;
}

/* .check-box::before{
  content: "";
  width: 15px;
  height:15px;
  background-color: #729eff;
  border: 1px solid ;
  border-radius: 4px;
  position: absolute;
  top: -14px;
  left: 0;
} 
.check-box::after{
  content: "";
  position: absolute;
  left: 5px;
  top: -13px;
  width: 5px;
  height: 10px;
  border: solid #000;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
} */

.check-license {
  left: -10px;
}

.btn-submit {
  padding: 8px 20px;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 600;
  border: none;
  outline: none;
  background: linear-gradient(to right, #283b4e, #244685, #334563, #3f8af4);
  background-position: 200%;
  background-size: 200%;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
}

.btn-submit:hover {
  background-position: right;
}

.flex {
  display: flex;
  justify-content: end;
}

.toast {
  width: 220px;
  background: #4caf50;
  color: white;
  padding: 16px;
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  animation: slideDown 0.3s ease-out;
  position: fixed;
  top: 100px;
  right: 20px;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.input.input-error {
  border: 2px solid red;
  border-radius: 4px;
}

.checkbox-error {
  outline: 2px solid red;
}
.error-msg {
  padding-top: 4px;
  font-size: 14px;
  color: red;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
}

.error-msg.show{
  opacity: 1;
  visibility:visible;
}

/* ///////////////////////////////////////////////////// */
/* updated contact component */
/* ///////////////////////////////////////////////////// */

.uc-table {
  width: 700px;
  border-spacing: 0;
  border-radius: 10px;
  border: 1px solid #dfdfdf;
  text-align: left;
  overflow: hidden;
}
.uc-table thead {
  font-size: 13px;
  font-weight: 500;
  color: #4e4e4e9c;
  text-transform: uppercase;
  background-color: #f0f8ff;
}

.uc-table th, .uc-table td{
  padding: 10px;
}
.uc-table th,
.uc-table td{
  border-bottom: 1px solid #dfdfdf; 
}
.uc-table tbody tr:hover{
  background-color: #cadbfa9c;
  cursor: pointer;
}

/* ////////////////////////////////////////// */
/* contact details */
/* ///////////////////////////////////////// */
.contact-detail-container,.edit-contact-container{
  max-width: 900px;
  width: 80%;
  padding: 40px 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.213);
}

.action-container{
  padding-inline: 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.btn-action{
  display: flex;
  justify-content: center;
  width: 100px;
  padding: 10px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  border: 1.5px solid;
  border-radius: 4px;
  transition: all 0.3s ease;
}
.btn-edit,.btn-save{
  /* background-color: #c3fae8; */
  border-color: #087f5b;
  color: #087f5b;
  margin-right: 10px;
}
.btn-back{
  /* background-color: #d0ebff; */
  border-color: #1864ab;
  color: #1864ab;
}
.btn-delete{
  /* background-color: #ffe3e3; */
  border-color: #c92a2a;
  color: #c92a2a;
}
.btn-edit:hover,.btn-back:hover,.btn-save:hover,.btn-delete:hover{
  color: #fff;

}
.btn-edit:hover,.btn-save:hover{
  background-color: #087f5b;
}
.btn-back:hover{
  background-color: #1864ab;
}
.btn-delete:hover{
  background-color: #c92a2a;
}




.contact-detail-lists{
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.contact-detail-list{
  display: flex;
}
.contact-detail-left,.contact-detail-right{
  flex: 0 0 50%;
}

.contact-label{
  padding-left: 25px;
  font-size: 18px;
  font-family: monospace;
  letter-spacing: 1.1px;
  font-weight: 400;
}

/* edit contact */

.edit-contact-container{
  max-width: 500px;
  width: 50%;
}
.edit-contact-form{
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: center;
}
.edit-contact-input-container{
  display: flex;
  gap: 5px;
}
.edit-contact-input-container div{
  flex: 0 0 30%;
}

.btn-save{
  margin-top: 30px;
  background-color: #fff;
}